.productscontainer{
    /* background-color: rgb(102, 144, 144); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img1 img{
    width: 100%;
    background-color: rgb(232, 198, 153);
}
.p2{
    display: grid;
}
.p2 button{
    border-radius: 20px;
    margin-bottom: 1rem;
    width: 90%;
}
.p2 .span{
    text-decoration: line-through;
    color: rgb(159, 148, 148);
}
.btnn{   
    display: flex;
}
.btnn .bt{
    border-radius: 50%;
    width: 10%;
}
.btnn .bt:hover{
    background-color: rgb(79, 147, 79);
}
.p2 .bhover:hover{
    background-color: rgb(79, 147, 79);
    color: white;
}