.seller{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}
.sl1{
    width: 30vw;
    height: 60vh;
    background-color: white;
    padding: 30px;
    box-shadow: 3px 3px 3px rgb(189, 179, 179),
    3px -3px 3px rgb(189, 179, 179),
    -3px 3px 3px rgb(189, 179, 179),
    -3px -3px 3px rgb(189, 179, 179);
    border-radius: 10px;
}
.sl2{
    display: flex;
    justify-content: space-between;
}
.sl1 button:hover{
     background-color: white;
     color: black;
     border: 2px solid green;
}